.add-tiles button,
.hand button {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.add-tiles button:hover,
.hand button:hover {
    font-weight: bold;
}

.add-tiles button:active,
.hand button:active {
    font-weight: normal;
}

.add-new-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.new-hand {
    width: 50%;
}

.hand-preview {
    margin-bottom: 2em;
}

@media screen and (max-width: 1000px) {
    .new-hand {
        width: 80%;
    }
}