.tile {
    display: inline-block;
    font-size: 55px;
    color: var(--tile-standard)
}

.tile input[type='checkbox'] {
    visibility: hidden;
    height: 1px;
    width: 1px;
}

.tile.selected {
    color: var(--tile-selected);
    font-weight: bold;
}

/*
This would be so nice to use, but DAMMIT FIREFOX!!!

.tile:has(input[type='checkbox']:checked) {
    color: red;
}
*/