:root {
  --font-color-dark: rgb(0, 0, 0);
  --font-color-light: goldenrod;
  --header-color: black;
  --footer-color: hsl(0, 0%, 95%);
  --footer-shadow: hsl(0, 0%, 80%);
  --tile-standard: hsl(131, 86%, 5%);
  --tile-selected: rgb(102, 0, 0);
}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
  max-width: 70%;
  border-radius: 5px;
  border: 1px solid rgb(102, 0, 0);
  background-color: rgb(255, 117, 117);
}

.success {
  border: 1px solid rgb(0, 102, 0);
  background-color: rgb(117, 255, 117);
}

.hand,
.tiles {
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hand {
  min-height: 55px
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
  background-color: var(--header-color);
  color: var(--font-color-light);
  box-shadow: 0px 1px 5px var(--header-color);
}

.header a,
.header a:hover,
.header a:visited,
.header a:active {
  padding: 1em;
  color: var(--font-color-light);
  text-decoration: none;
}

.link-active {
  background-color: var(--tile-selected);
}

.footer {
  margin-top: auto;
  padding: 0.7em;
  background-color: var(--footer-color);
  box-shadow: 0 -1px 5px var(--footer-shadow);
}

.welcome {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.form {
  width: 30%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.form input,
.form label {
  display: block;
  width: 100%;
}

.form label {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-left: 0.1em;
}

.form input {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
}

.form button {
  margin-left: auto;
  margin-right: auto;
}

.score {
  width: 70vw;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 700px) {
  .form {
    width: 70%;
  }

  .score {
    width: 60vw;
    height: 70vh;
  }
}